Source: piedrapapeltijera
Section: unknown
Priority: optional
Maintainer: judit <mail@provider.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/piedrapapeltijera
#Vcs-Git: https://salsa.debian.org/debian/piedrapapeltijera.git

Package: piedrapapeltijera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
