Package: piedrapapeltijera
Version: 1.0-1
Architecture: amd64
Maintainer: judit <mail@provider.com>
Installed-Size: 26
Depends: libc6 (>= 2.4), libgcc-s1 (>= 3.0), libstdc++6 (>= 5.2)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
